<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Opc.Ua.Client" version="1.01.3262-Bravo" targetFramework="net461" />
  <package id="Opc.Ua.Configuration" version="1.01.3262-Bravo" targetFramework="net461" />
  <package id="OPC.UA.SDK.Core" version="1.01.326" targetFramework="net461" />
</packages>