<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <sources>
      <!--CAS-->
      <source name="TracesFromEventLogMonitor" switchValue="All" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="LogFile">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="CAS.CodeProtect.TraceSource" switchValue="All" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="LogFile">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="CAS.RealTime" switchValue="Information,ActivityTracing" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="LogFile">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="CAS.Windows.Forms" switchValue="Information,ActivityTracing" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="LogFile">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <!--System.ServiceModel-->
      <source propagateActivity="true" name="System.ServiceModel" switchValue="All,ActivityTracing" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="E2EXmlWriter">
            <filter type="" />
          </add>
          <add name="LogFile">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <!--Viewer.UserInterface-->
      <source name="CAS.CommServer.UA.Viewer.UserInterface" switchValue="All,ActivityTracing" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="LogFile">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="|ApplicationDataPath|\log\CAS.CommServer.UA.Viewer.log"
        type="CAS.Lib.CodeProtect.EnvironmentAccess.AdvancedDelimitedListTraceListener,CAS.CodeProtect"
        name="LogFile" traceOutputOptions="DateTime">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All" />
      </add>
      <add initializeData="log\CAS.CommServer.UA.Viewer.e2e" type="System.Diagnostics.XmlWriterTraceListener"
        name="E2EXmlWriter">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
</configuration>