<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CAS.CodeProtect" version="6.0.0-Charlie" targetFramework="net461" />
  <package id="CAS.RealTime" version="5.0.4-Charlie" targetFramework="net461" />
  <package id="CAS.Windows.Forms" version="6.0.0-Delta" targetFramework="net461" />
  <package id="Opc.Ua.Client" version="1.01.3262-Bravo" targetFramework="net461" />
  <package id="Opc.Ua.Configuration" version="1.01.3262-Bravo" targetFramework="net461" />
  <package id="OPC.UA.SDK.Core" version="1.01.326" targetFramework="net461" />
  <package id="Opc.Ua.Server" version="1.01.3262-Alpha" targetFramework="net461" />
</packages>