<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CAS.CodeProtect" version="6.1.3" targetFramework="net461" />
  <package id="CAS.CommServer.UA.Stack.Client" version="1.01.3265" targetFramework="net461" />
  <package id="CAS.CommServer.UA.Stack.Configuration" version="1.01.3265" targetFramework="net461" />
  <package id="CAS.CommServer.UA.Stack.Core" version="1.01.3265" targetFramework="net461" />
  <package id="CAS.CommServer.UA.Stack.Server" version="1.01.3265" targetFramework="net461" />
  <package id="CAS.RealTime" version="5.0.6" targetFramework="net461" />
  <package id="CAS.Windows.Forms" version="6.1.2" targetFramework="net461" />
</packages>